/********************** BASE */

body {
    background-color: #f4f6ff;
}

h1 {
    font-family: 'Merriweather', serif;
}

[type="text"]::placeholder,
    [type="email"]::placeholder{
        font-family: 'Ubuntu', sans-serif;
        text-align: right;
        position: relative;
        right: 20px;
    }

    [list="state"]::placeholder{
        font-family: 'Ubuntu', sans-serif;
        position: relative;
        left: 15px;
    }

    fieldset {
        border: none;
    }

    
/********************** MEDIA QUERY 320px to 767px */
    
    h2, legend {
        font-family: 'Bree Serif', serif;
        font-size: 22px;
    }
    
    p, label {
        font-family: 'Ubuntu', sans-serif;
    }
    
    .title {
        background-color: #111d5e;
        color: white;
        text-transform: uppercase;
        font-size: small;
        white-space: nowrap;
        text-align: center;
        margin: 0 auto -15px;
        
    }

    .top{
        margin-bottom: 25px;
    }
    
    .top
    h2 {
        font-weight: 900;
        text-align: center;
        margin-bottom: 5px;
        font-size: 20px;
    }
    
    .top 
    p {
        font-size: 18px;
        font-weight: 100;
        width: 90%;
        text-align: center;
        margin: 0 auto 25px;
        color: #b2bec3;
    }
    
    .top {
        border-bottom: 1px solid #111d5e;
    }
    
    #break {
        margin-bottom: 3px;
        border-style: none;
        border-top: 5px solid #111d5e;
    }


    .contact {
        font-weight: 900;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    select,
    [type= "text"],
    [type="email"],
    [type="tel"],
    textarea,
    #mystate{
        background-color: #BDD5E6;
        border: 10px;
        border-radius: 5px;
        width: 98%;
        padding: 15px 0;
        margin-top: 10px;
    }
    
    [type="text"]::placeholder,
    [type="email"]::placeholder{
        font-style: italic;
        text-align: end;
    }
    
    [type= "text"]:focus,
    [type="email"]:focus{
        border-color: #111d5e;
    }
    
    div,
    textarea,
    [type="checkbox"],
    [type="radio"] {
        margin-bottom: 20px;
    }
    
    #secondBreak{
        border-width: 2px 0 0;
        border-color: #111d5e;
        margin-top: 25px;
    }
    
    [type="submit"]{
        width: 98%;
        padding: 15px 0;
        background-color: #00BCC9;
        color: white;
        font-size: 22px;
        font-weight: 600;
        border-width: 0;
        border-radius: 5px;
    }
    
    footer 
    p {
        text-align: center;
        color: #b2bec3;
    }





/********************** MEDIA QUERY 768px */
@media  (min-width:768px){
    body {
        width: 70%;
        margin: 0 auto;
    }

    h2 {
        font-family: 'Bree Serif', serif;
    }
    
    p, label {
        font-family: 'Ubuntu', sans-serif;
    }
    
    .title {
        background-color: #111d5e;
        color: white;
        text-transform: uppercase;
        font-size: small;
        white-space: nowrap;
        text-align: center;
        margin: 0 auto;
        
    }
    
    .top
    h2 {
        font-weight: 900;
        text-align: center;
        margin-bottom: 5px;
        font-size: 20px;
    }
    
    .top 
    p {
        font-size: 18px;
        font-weight: 100;
        width: 90%;
        text-align: center;
        margin: 0 auto 25px;
        color: #b2bec3;
    }
    
    section.top {
        border-bottom: 1px solid #111d5e;
    }
    
    #break {
        margin-bottom: 3px;
        border-style: none;
        border-top: 5px solid #111d5e;
    }
    
    .contact
    h2 {
        font-weight: 900;
        font-size: 20px;
        margin-top: 25px;
    }

.name,
.email,
.phone,
.address,
.city,
.state,
.zip {
    display: flex;
}


div 
label {
    width: 20%;
    align-self: center;
}
    
    select,
    [type= "text"],
    [type="email"],
    [type="tel"],
    textarea,
    #mystate{
        background-color: #BDD5E6;
        border: 10px;
        border-radius: 5px;
        width: 80%;
        padding: 15px 0;    
        margin-top: 10px;

    }
    
    [type="text"]::placeholder,
    [type="email"]::placeholder{
        text-align: right;
        position: relative;
        right: 20px;
    }
    
    [type= "text"]:focus,
    [type="email"]:focus{
        border-color: #111d5e;
    }
    
    div,
    textarea,
    [type="checkbox"],
    [type="radio"] {
        margin-bottom: 20px;
    }
    
    #secondBreak{
        border-width: 2px 0 0;
        border-color: #111d5e;
        margin-top: 25px;
    }
    
    [type="submit"]{
        width: 80%;
        padding: 15px 0;
        background-color: #00BCC9;
        color: white;
        font-size: 22px;
        font-weight: 600;
        border-width: 0;
        border-radius: 5px;
    }
    
    footer 
    p {
        text-align: center;
        color: #b2bec3;
    }


}